@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

body {
  @apply bg-slate-950 text-slate-100;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

a {
  @apply text-sky-300 hover:text-sky-200 underline-offset-4;
}
